
<!DOCTYPE html>
<html>
<head>
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito</h1>
    {{#each products}}
        <div>
            <h3>{{this.name}}</h3>
            <p>Cantidad: {{this.quantity}}</p>
            <p>Precio: ${{this.price}}</p>
        </div>
    {{/each}}
</body>
</html>
